#pokemon-header {
    display: flex;
    justify-content: center;
    background: #515DA2;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
  }
  
  #pokemon-header img {
    height: 8rem;
    width: auto;
  }

.card {
    text-align: left;
    height: 150px;
    width: auto;
    border: indigo solid 1px;
    padding: 3px;
    grid-template-columns: 1fr;
    /* display: inline-grid; */
    margin: 2px;
    /* margin: 1px 1px; */
  }

#poke {
  margin: auto;
  text-align: right;
}
  
#choice {
  text-align: center;
  margin: auto;
}

.pokeImage {
  text-align:left;
  color: red
}

