#pokemon-header {
    display: flex;
    justify-content: center;
    background: #515DA2;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
  }
  
  #pokemon-header img {
    height: 6rem;
    width: auto;
  }

  .card {
    text-align: center;
    border: grey solid .5px;
    padding: .5rem;

    display: inline-grid;
    margin: 1rem 1rem;
    box-shadow: 3px 3px #e04b52
  }