#pokemon-header {
    display: flex;
    justify-content: center;
    background: #515DA2;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
  }
  
  #pokemon-header img {
    height: 8rem;
    width: auto;
  }




.card {
    /* float: left; */
    /* clear: left; */
    /* position:relative; */
    display: block;
    height: 175px;
    width: 150px;
    border: indigo solid 1px;
    padding: 3px;
    /* grid-template-columns: 1fr; */
    /* display: inline-grid; */
    margin: 2px;
    /* margin: 1px 1px; */
  }

#poke {
  margin: auto;
  /* text-align: right; */
}
  
#choice {
  text-align: center;
  margin: auto;
}

/* .pokeImg {
  position:absolute; 
  text-align:left;
  height: 100px;
  justify-self: center;
} */

/* #poke-info {
  margin: auto;
  text-align: center;
  position: relative;
  float:right;
} */
